<ion-header>
  <ion-toolbar>
    <ion-title>Sign In Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input clearInput [(ngModel)]="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input clearInput  [(ngModel)]="password" type="password"></ion-input>
</ion-item>

<ion-button color="primary" (click)="signIn();" expand="block">Sign In</ion-button>
</ion-content>
