.gallery-item{
    padding: 13px;
    float: left;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid gray;
    .title{
        text-transform: capitalize;
    }
    .gallery-photo{
        width: auto;
    height: 200px;
    background-size: contain;
    border: 1px solid;
    margin: 0 auto;
    border-radius: 11px;
    }
}